<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" >

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/orm?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>


    <!--test for BaseTest-->
    <bean id="sessionFactory" class="com.github.basic.session.DefaultSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>
	


    <bean id="defaultSqlSessionFactoryBean" class="com.github.basic.session.DefaultSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <bean class="com.github.basic.spring.BaseConfigurer">
        <property name="pojoPackage" value="com.github.entity" />
        <property name="sqlSessionFactory" ref="defaultSqlSessionFactoryBean" />
    </bean>


    

     
</beans>
